@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,strong,ul,i,em,b,ol,dl,dd,input{ font:16px "宋体"; margin:0;padding:0;}
a{ text-decoration:none; color:#000;}
li{ list-style:none;}
img{ border:none; display:block;}
select, input, img { vertical-align: middle; outline: none; }
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}











